/CMSIS/Documentation/
/CMSIS/DSP_Lib/
/CMSIS/RTOS/
/CMSIS/*.pdf
/CMSIS/*.rtf
/CMSIS/README.txt
/Objects/*.d
/Objects/*.o
/Objects/*.crf
/Objects/*.axf
/Objects/*.lnp
/Objects/*.htm
/Objects/*.dep
/Objects/*.hex
/Objects/*.bin
/Listings/*.lst
/Listings/*.map
/DebugConfig/*.dbgconf
*.txt
*.ini
*.bat
*.uvoptx
*.uvguix.*
/FreeRTOSv9.0.0/Source/portable/BCC
/FreeRTOSv9.0.0/Source/portable/CCS
/FreeRTOSv9.0.0/Source/portable/CodeWarrior
/FreeRTOSv9.0.0/Source/portable/Common
/FreeRTOSv9.0.0/Source/portable/GCC
/FreeRTOSv9.0.0/Source/portable/IAR
/FreeRTOSv9.0.0/Source/portable/Keil
/FreeRTOSv9.0.0/Source/portable/MikroC
/FreeRTOSv9.0.0/Source/portable/MPLAB
/FreeRTOSv9.0.0/Source/portable/MSVC-MingW
/FreeRTOSv9.0.0/Source/portable/oWatcom
/FreeRTOSv9.0.0/Source/portable/Paradigm
/FreeRTOSv9.0.0/Source/portable/Renesas
/FreeRTOSv9.0.0/Source/portable/Rowley
/FreeRTOSv9.0.0/Source/portable/SDCC
/FreeRTOSv9.0.0/Source/portable/Softune
/FreeRTOSv9.0.0/Source/portable/Tasking
/FreeRTOSv9.0.0/Source/portable/WizC
/FreeRTOSv9.0.0/Source/portable/readme.txt
